# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary data
debug_results/
features/
results/
moment_detr/
xyf/
data/
run_on_video/
.vscode/
visualization/
_visualization/

test.py


